@charset "UTF-8";
/* 전체 틀 */
#j_infom_section {
	border: 1px solid lightgray;
	height: 1000px;
	width: 1300px;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 10px;
	padding: 20px;
}
/* 라인 */
#j_infom_line {
	margin: 40px 0px 40px;
	border: 2px solid gray;
	background-color: gray;
	/* bootstrap css먹혀서 씀 */
	opacity: unset
}
/* 테이블 중앙정렬 */
#j_infom_table {
	display: flex;
	text-align: center;
	justify-content: center;
}
/* 테이블 왼쪽 타이틀 */
.j_infom_title {
	height: 60px;
	width: 130px;
	float: left;
	display: flex;
	align-items: center;
	font-weight: bold;
}
/* 테이블 오른쪽 내용 */
.j_infom_content {
	height: 50px;
}
/* input태그 */
.j_infom_input {
	height: 32px;
	width: 350px;
	border: 1px solid gray;
	border-radius: 6px;
}

.j_infom_input:focus {
	border: 1px solid rgba(5, 131, 242, 0.8);
	outline: 3px solid rgba(5, 131, 242, 0.3);
	transition: ease-in-out .15s;
}
/* 상단 내 정보 수정 글씨 */
#j_infom_menu {
	margin-top: 20px;
	font-size: large;
	font-weight: bold;
}
/* 확인 버튼 */
#j_infom_submit {
	height: 35px;
	width: 100px;
	font-size: medium;
	color: white;
	border-radius: 6px;
	border: #0583F2;
	background-color: #0583F2;
	cursor: pointer;
}

#j_infom_submit:focus {
	border: 1px solid rgba(5, 131, 242, 0.8);
	outline: 4px solid rgba(5, 131, 242, 0.3);
	transition: ease-in-out .15s;
}
/* 상단 비밀번호 재확인 문구 */
#j_infom_men1 {
	font-weight: bold;
	font-size: medium;
	margin-bottom: 10px;
}
/* 상단 비밀번호 재확인 문구 */
#j_infom_men2 {
	font-size: small;
	margin-bottom: 70px;
}
/* 필수 입력 항목 */
#j_infom_sym {
	color: red;
}
/* 테이블 틀 */
#j_infom_tbody {
	padding: 30px;
	border: 1px solid gray;
	border-radius: 6px;
}