<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="kh.spring.bab.employee.domain.Employee" alias="Emp"/>
		<typeAlias type="kh.spring.bab.board.domain.Board" alias="Board"/>
		<typeAlias type="kh.spring.bab.organ.domain.Organ" alias="Organ"/>
		<typeAlias type="kh.spring.bab.eap.domain.Eap" alias="Eap"/>
		<typeAlias type="kh.spring.bab.info.domain.Info" alias="Info"/>
	</typeAliases>
	 
	<mappers>
		<mapper resource="mappers/employee-mapper.xml"/>
		<mapper resource="mappers/organ-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/eap-mapper.xml"/>
		<mapper resource="mappers/info-mapper.xml"/>
	</mappers>

</configuration>
