<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="kh.spring.bab.employee.domain.Employee" alias="Emp"/>
		<typeAlias type="kh.spring.bab.board.domain.Board" alias="Board"/>
		<typeAlias type="kh.spring.bab.mail.domain.Mail" alias="Mail"/>
		<typeAlias type="kh.spring.bab.contact.domain.Contact" alias="Contact"/>
		<typeAlias type="kh.spring.bab.organ.domain.Organ" alias="Organ"/>
		<typeAlias type="kh.spring.bab.eap.domain.Eap" alias="Eap"/>
		<typeAlias type="kh.spring.bab.info.domain.Info" alias="Info"/>
		<typeAlias type="kh.spring.bab.attendance.domain.Attendance" alias="Att"/>
		<typeAlias type="kh.spring.bab.eap.domain.Spending" alias="Sp"/>
		<typeAlias type="kh.spring.bab.calendar.domain.Calendar" alias="Calendar"/>
		<typeAlias type="kh.spring.bab.calendar.domain.CalendarHo" alias="CalendarHo"/>
		<typeAlias type="kh.spring.bab.calendar.domain.CalendarHBD" alias="CalendarHBD"/>
		<typeAlias type="kh.spring.bab.chat.domain.Chatting" alias="Chat"/>
	</typeAliases>
	 
	<mappers>
		<mapper resource="mappers/employee-mapper.xml"/>
		<mapper resource="mappers/organ-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/mail-mapper.xml"/>
		<mapper resource="mappers/eap-mapper.xml"/>
		<mapper resource="mappers/info-mapper.xml"/>
		<mapper resource="mappers/contact-mapper.xml"/>
		<mapper resource="mappers/calendar-mapper.xml"/>
		<mapper resource="mappers/chatting-mapper.xml"/>
	</mappers>

</configuration>
