<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Attendance">

	<!-- 출근 시간 저장 -->
	<insert id="insertStart" parameterType="string">
		INSERT INTO ATTENDANCE VALUES (ATTENDANCE_SEQ.NEXTVAL, SYSTIMESTAMP, NULL, #{emp_no}, NULL)
	</insert>
	
	<!-- 퇴근 시간 저장 -->
	<update id="updateEnd" parameterType="string">
		UPDATE ATTENDANCE SET ATT_END = SYSTIMESTAMP 
		WHERE EMP_NO = #{emp_no}
		  AND ATT_START BETWEEN ATT_START AND (SELECT SYSTIMESTAMP FROM DUAL)
		  AND TO_CHAR(ATT_START, 'DD') = (SELECT EXTRACT(DAY FROM SYSTIMESTAMP) FROM DUAL)
	</update>
	
	<!-- 오늘 근태 현황 조회 -->
	<select id="selectToday" parameterType="string" resultType="Att">
		SELECT ATT_NO, TO_CHAR(ATT_START, 'HH24:MI') ATT_START,
		    TO_CHAR(ATT_END, 'HH24:MI') ATT_END, EMP_NO, ATT_WORKTIME
		FROM ATTENDANCE 
		WHERE EMP_NO = #{emp_no} 
		AND ATT_START BETWEEN ATT_START AND (SELECT SYSTIMESTAMP FROM DUAL)
		AND TO_CHAR(ATT_START, 'DD') = (SELECT EXTRACT(DAY FROM SYSDATE) FROM DUAL)
	</select>
	
	<!-- 소정 근무 시간 구하기 -->
	<update id="updateWorkTime" parameterType="string">
		UPDATE ATTENDANCE SET ATT_WORKTIME = 
		(
			SELECT EXTRACT(HOUR   FROM ATT_END - ATT_START) -1 AS ATT_WORKTIME
			FROM ATTENDANCE
			WHERE TO_CHAR(ATT_START, 'DD') = (SELECT EXTRACT(DAY FROM SYSDATE) FROM DUAL)
			AND EMP_NO = #{emp_no}
		)
		WHERE EMP_NO = #{emp_no} 
		AND TO_CHAR(ATT_START, 'DD') = (SELECT EXTRACT(DAY FROM SYSTIMESTAMP) FROM DUAL)
	</update>
	
	<!-- 월별 근태 현황조회 -->
	<select id="selectMonth" parameterType="string" resultType="Att">
		SELECT ROWNUM RNUM, A.* FROM (
				SELECT ATT_NO, TO_CHAR(ATT_START, 'YYYY/MM/DD HH24:MI') ATT_START,
				    TO_CHAR(ATT_END, 'HH24:MI') ATT_END, EMP_NO, ATT_WORKTIME
				FROM ATTENDANCE WHERE EMP_NO = #{emp_no} AND ATT_START BETWEEN ATT_START AND (SELECT SYSTIMESTAMP FROM DUAL)
				AND TO_CHAR(ATT_START, 'MM') = (SELECT EXTRACT(MONTH FROM SYSDATE) FROM DUAL)
				ORDER BY ATT_NO DESC
			) A
	</select>

</mapper>
