<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Board">

<select id="selectBoard" resultType="Board">
	select board_no, board_title, board_writer, to_char(board_date, 'yyyy-mm-dd') board_date, board_content, emp_no from board where 1=1
	<choose>
		<when test="type != null and type.equals('board_title')">
		and board_title like '%' || #{keyword} || '%'
		</when>
		<when test="type != null and type.equals('board_content')">
		and board_content like '%' || #{keyword} || '%'
		</when>
		<when test="type != null and type.equals('board_writer')">
		and board_writer like '%' || #{keyword} || '%'
		</when>
	</choose>
	order by board_no desc
</select>

<select id="selectBList" resultType="Board">
	select ROWNUM, a.board_no, a.board_title, a.board_writer, to_char(board_date, 'yyyy-mm-dd') board_date
	from (select b.* from board b order by board_date desc) a
	<![CDATA[where ROWNUM < 5]]>
</select>

<select id="selectTotalCnt" resultType="_int">
	select count(*) from board
	where 1=1
	<choose>
		<when test="type != null and type.equals('board_title')">
		and board_title like '%' || #{keyword} || '%'
		</when>
		<when test="type != null and type.equals('board_content')">
		and board_content like '%' || #{keyword} || '%'
		</when>
		<when test="type != null and type.equals('board_writer')">
		and board_writer like '%' || #{keyword} || '%'
		</when>
	</choose>
</select>

<select id="readBoard" resultType="Board">
	select board_no, board_title, board_writer, to_char(board_date, 'yyyy-mm-dd') board_date, board_content, emp_no from board where board_no=#{board_no}
</select>

<insert id="insertBoard">
	insert into Board values (BOARD_SEQ.nextval, #{board_title}, #{board_writer}, systimestamp, #{board_content}, (select emp_no from employee where emp_name=#{board_writer}))
</insert>

<update id="updateBoard">
	update board set board_title=#{board_title}, board_content=#{board_content} where board_no=#{board_no}
</update>

<delete id="deleteBoard">
	delete from Board where board_no=#{board_no}
</delete>

</mapper>
