<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Eap">
	<!-- 문서양식-휴가신청서일 때 -->
	<insert id="insertHoDoc">
		INSERT INTO DOCUMENT_FORM VALUES(
	        (SELECT EXTRACT(YEAR FROM SYSDATE) || '-' || 
	        (SELECT DISTINCT(DF_CODE) FROM DOCUMENT_FORM WHERE DF_TITLE = '휴가신청서') || '-' || 
	        (SELECT LPAD(NVL(MAX(SUBSTR(DF_NO, 8)),0) + 1, 3, '0') FROM DOCUMENT_FORM) DF_NO
        FROM DUAL), '휴가신청서', 'A')
	</insert>
	
	<!-- 문서양식-지출결의서일 때 -->
	<insert id="insertSpDoc">
		INSERT INTO DOCUMENT_FORM VALUES(
	        (SELECT EXTRACT(YEAR FROM SYSDATE) || '-' || 
	        (SELECT DISTINCT(DF_CODE) FROM DOCUMENT_FORM WHERE DF_TITLE = '지출결의서') || '-' || 
	        (SELECT LPAD(NVL(MAX(SUBSTR(DF_NO, 8)),0) + 1, 3, '0') FROM DOCUMENT_FORM) DF_NO
    	FROM DUAL), '지출결의서', 'B')
	</insert>
	
	<!-- 문서양식 번호 조회 -->
	<select id="selectDoc" resultType="Eap" parameterType="string">
		SELECT MAX(DF_NO) DF_NO FROM DOCUMENT_FORM WHERE DF_CODE = #{df_code}
	</select>
	
	<!-- 결재선 리스트, 참조처 리스트 DB 저장(휴가신청서) -->
	<insert id="insertapp" parameterType="Eap">
		INSERT INTO ELECTRONIC_APPROVAL(EAP_NO, EAP_STA_CODE, EAP_FIRST_AP, EAP_MID_AP, EAP_FINAL_AP, EAP_FIRST_DEPT, EAP_FINAL_DEPT, EMP_NO, DF_NO) 
		VALUES (EAP_SEQ.NEXTVAL, DEFAULT, #{eap_first_ap}, #{eap_mid_ap}, #{eap_final_ap}, #{eap_first_dept}, #{eap_final_dept}, #{emp_no}, (SELECT MAX(DF_NO) DF_NO FROM DOCUMENT_FORM WHERE DF_CODE = 'A'))
	</insert>
	
	<!-- 전자결재 테이블 update(휴가신청서 작성 시) -->
	<update id="updateeap" parameterType="Eap">
		UPDATE ELECTRONIC_APPROVAL SET EAP_STEP = 1, EAP_TITLE = #{eap_title}, EAP_CONTENT = #{eap_content}, EAP_FILE_PATH = #{eap_file_path}, EAP_DRAFT_DATE = SYSTIMESTAMP WHERE DF_NO = #{df_no}  
	</update>
	
	<!-- 휴가 테이블 insert -->
	<insert id="insertatt" parameterType="Att">
		INSERT INTO HOLIDAY VALUES(HOLIDAY_SEQ.NEXTVAL, #{ho_code}, #{ho_start}, #{ho_end}, NULL, #{ho_use_count}, #{emp_no}, #{df_no}) 
	</insert>
	
	<!-- 전자결재 테이블 update(지출결의서 작성 시) -->
	<update id="updateEapSp" parameterType="Eap">
		UPDATE ELECTRONIC_APPROVAL SET EAP_STEP = 1, EAP_TITLE = #{eap_title}, EAP_CONTENT = #{eap_content}, EAP_FILE_PATH = #{eap_file_path}, EAP_DRAFT_DATE = SYSTIMESTAMP WHERE DF_NO = #{df_no}  
	</update>
	
	<!-- 지출테이블 insert -->
	<insert id="insertSp" parameterType="Sp">
		INSERT INTO SPENDING VALUES(SPENDING_SEQ.NEXTVAL, #{sp_date}, #{sp_detail}, #{sp_count}, #{sp_amount}, #{sp_pay_code}, #{df_no})
	</insert>
	
	<!-- 결재선 리스트, 참조처 리스트 DB 저장(지출결의서) -->
	<insert id="insertappsp" parameterType="Eap">
		INSERT INTO ELECTRONIC_APPROVAL(EAP_NO, EAP_STA_CODE, EAP_FIRST_AP, EAP_MID_AP, EAP_FINAL_AP, EAP_FIRST_DEPT, EAP_FINAL_DEPT, EMP_NO, DF_NO) 
		VALUES (EAP_SEQ.NEXTVAL, DEFAULT, #{eap_first_ap}, #{eap_mid_ap}, #{eap_final_ap}, #{eap_first_dept}, #{eap_final_dept}, #{emp_no}, (SELECT MAX(DF_NO) DF_NO FROM DOCUMENT_FORM WHERE DF_CODE = 'B'))
	</insert>
	
	<!-- 결재대기문서 -->
	<select id="selectBeforeDoc" parameterType="string" resultType="Eap">
		SELECT TO_CHAR(EAP_DRAFT_DATE,'YYYY/MM/DD') EAP_DRAFT_DATE, EAP_FILE_PATH,
	      (SELECT DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE) WHERE EMP_NO = #{emp_no}) DEPT_NAME, 
	      EMP_NAME, DF_TITLE, EAP_TITLE, EAP_CONTENT, EMP_NO, DF_NO, EAP_NO,
	      DECODE(EAP_STA_CODE, 'C', '결재회수', 'S', '결재대기', 'O', '진행중', 'F', '결재완료', 'R', '반려') EAP_STA_CODE 
		FROM ELECTRONIC_APPROVAL
		JOIN DOCUMENT_FORM USING(DF_NO)
		JOIN EMPLOYEE USING(EMP_NO)
		WHERE EAP_STA_CODE = 'S' AND EMP_NO = #{emp_no} AND EAP_TITLE IS NOT NULL
		ORDER BY EAP_DRAFT_DATE DESC, EAP_NO DESC
	</select>
	
	<!-- 양식 처음 로드 시 띄울 정보 -->
	<select id="empInfo" parameterType="string" resultType="Eap">
		SELECT EMP_NO, EMP_NAME, EMP_PHONE,
			(SELECT JOB_TITLE FROM JOB JOIN EMPLOYEE USING(JOB_CODE) WHERE EMP_NO = #{emp_no}) JOB_TITLE,
			(SELECT DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE) WHERE EMP_NO = #{emp_no}) DEPT_NAME, 
			(SELECT TO_CHAR(SYSDATE,'YYYY/MM/DD') FROM DUAL) EAP_DRAFT_DATE 
		FROM EMPLOYEE WHERE EMP_NO = #{emp_no}
	</select>
	
	<!-- 문서 상세 조회(휴가신청서) -->
	<select id="readHoDoc" parameterType="string" resultType="Eap">
		SELECT * FROM EMPLOYEE
		  JOIN ELECTRONIC_APPROVAL USING(EMP_NO) 
		  JOIN DEPT USING(DEPT_CODE)
		  JOIN JOB USING(JOB_CODE)
		WHERE DF_NO = #{df_no}
	</select>
	
	<!-- 첫번째 승인자 정보 -->
	<select id="selectFirstAp" resultType="Eap">
		SELECT DEPT_NAME, JOB_TITLE, EMP_NAME 
		  FROM EMPLOYEE
		  JOIN DEPT USING(DEPT_CODE)
		  JOIN JOB USING(JOB_CODE)
		 WHERE EMP_NAME = (SELECT EAP_FIRST_AP FROM ELECTRONIC_APPROVAL WHERE DF_NO = #{df_no})
	</select>
	
	<!-- 두번째 승인자 정보 -->
	<select id="selectMidAp" resultType="Eap">
		SELECT DEPT_NAME, JOB_TITLE, EMP_NAME 
		  FROM EMPLOYEE
		  JOIN DEPT USING(DEPT_CODE)
		  JOIN JOB USING(JOB_CODE)
		 WHERE EMP_NAME = (SELECT EAP_MID_AP FROM ELECTRONIC_APPROVAL WHERE DF_NO = #{df_no})
	</select>
	
	<!-- 세번째 승인자 정보 -->
	<select id="selectFinalAp" resultType="Eap">
		SELECT DEPT_NAME, JOB_TITLE, EMP_NAME 
		  FROM EMPLOYEE
		  JOIN DEPT USING(DEPT_CODE)
		  JOIN JOB USING(JOB_CODE)
		 WHERE EMP_NAME = (SELECT EAP_FINAL_AP FROM ELECTRONIC_APPROVAL WHERE DF_NO = #{df_no})
	</select>
	
	<!-- 휴가신청서에 저장된 정보 가져오기 -->
	<select id="selectHoInfo" resultType="Att">
		SELECT * FROM HOLIDAY WHERE DF_NO = #{df_no}
	</select>
	
	<!-- 문서 상세 조회(지출결의서) -->
	<select id="readSpDoc" parameterType="string" resultType="Eap">
		SELECT * FROM EMPLOYEE
		  JOIN ELECTRONIC_APPROVAL USING(EMP_NO) 
		  JOIN DEPT USING(DEPT_CODE)
		  JOIN JOB USING(JOB_CODE)
		WHERE DF_NO = #{df_no}
	</select>
	
	<!-- 지출결의서에 저장된 정보 가져오기 -->
	<select id="selectSpInfo" resultType="Sp">
		SELECT * FROM SPENDING WHERE DF_NO = #{df_no}
	</select>
	
	<!-- 남은 휴가일수 확인 : TODO 추후 수정! -->
	<select id="readHoCnt" parameterType="string" resultType="double">
		SELECT (C.EMP_HO_CR_CNT - SUM(A.HO_USE_COUNT))AS 잔여일수 
		  FROM HOLIDAY A, ELECTRONIC_APPROVAL B, EMPLOYEE C 
		 WHERE A.DF_NO = B.DF_NO 
		   AND A.EMP_NO = C.EMP_NO 
		   AND B.EAP_STA_CODE = 'S'
		   AND A.EMP_NO = #{emp_no}
		GROUP BY EMP_HO_CR_CNT
	</select>
	
	<!-- 결재 회수 클릭 시 결재상태 회수로 변경 -->
	<update id="cancelDoc" parameterType="string">
		UPDATE ELECTRONIC_APPROVAL SET EAP_STA_CODE = 'C' WHERE DF_NO = #{df_no}
	</update>
	
	<!-- 문서 수정(지출결의서) -->
	<update id="updateSpDoc" parameterType="Sp">
		UPDATE SPENDING SET SP_DATE = #{sp_date}, SP_DETAIL = #{sp_detail}, SP_COUNT = #{sp_count}, SP_AMOUNT = #{sp_amount}, SP_PAY_CODE = #{sp_pay_code} WHERE DF_NO = #{df_no}
	</update>
	
	<!-- 문서 수정(전자결재 테이블) -->
	<update id="updateEap" parameterType="Eap">
		UPDATE ELECTRONIC_APPROVAL SET EAP_TITLE = #{eap_title}, EAP_CONTENT = #{eap_content}, EAP_FILE_PATH = #{eap_file_path},
		EAP_DRAFT_DATE = SYSTIMESTAMP  WHERE DF_NO = #{df_no} 
	</update>
	
	<!-- 문서 수정(휴가신청서) -->
	<update id="updateHpDoc" parameterType="Att">
		UPDATE HOLIDAY SET HO_CODE = #{ho_code}, HO_START = #{ho_start}, HO_END = #{ho_end}, HO_USE_COUNT = #{ho_use_count} WHERE DF_NO = #{df_no}
	</update>
	
	<!-- 결재 대기 문서 개수 -->
	<select id="beDocCnt" parameterType="string" resultType="_int">
		SELECT COUNT(*) 
		  FROM (SELECT TO_CHAR(EAP_DRAFT_DATE,'YYYY/MM/DD') EAP_DRAFT_DATE,
		      (SELECT DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE) WHERE EMP_NO = #{emp_no}) DEPT_NAME, EAP_FILE_PATH,
		      EMP_NAME, DF_TITLE, EAP_TITLE, EAP_CONTENT, EMP_NO, EAP_NO,
		      DECODE(EAP_STA_CODE, 'C', '결재회수', 'S', '결재대기', 'O', '진행중', 'F', '결재완료', 'R', '반려') EAP_STA_CODE, DF_NO 
		FROM ELECTRONIC_APPROVAL
		JOIN DOCUMENT_FORM USING(DF_NO)
		JOIN EMPLOYEE USING(EMP_NO)
		WHERE EAP_STA_CODE = 'S' AND EMP_NO = #{emp_no} AND EAP_TITLE IS NOT NULL
		ORDER BY EAP_DRAFT_DATE DESC, EAP_NO DESC)
	</select>
	
	<!-- 결재 수신 문서 -->
	<select id="selectReceiptDoc" parameterType="string" resultType="Eap">
		SELECT A.*, B.DEPT_NAME FROM (
			SELECT TO_CHAR(EAP_DRAFT_DATE,'YYYY/MM/DD') EAP_DRAFT_DATE,
			      EAP_FILE_PATH, EMP_NAME, DF_TITLE, EAP_TITLE, EAP_CONTENT, EMP_NO, EAP_NO,
			      DECODE(EAP_STA_CODE, 'C', '결재회수', 'S', '결재대기', 'O', '진행중', 'F', '결재완료', 'R', '반려') EAP_STA_CODE, DF_NO
			  FROM ELECTRONIC_APPROVAL 
			  JOIN DOCUMENT_FORM USING(DF_NO)
			  JOIN EMPLOYEE USING(EMP_NO)
			  WHERE (EAP_STA_CODE = 'S' OR EAP_STA_CODE = 'O') AND EAP_TITLE IS NOT NULL AND 
			        (EAP_STEP = 1 AND EAP_FIRST_AP = (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{emp_no}) 
			                    OR (EAP_STEP = 2 AND EAP_MID_AP = (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{emp_no})) 
			                    OR (EAP_STEP = 3 AND EAP_FINAL_AP = (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{emp_no})))
			ORDER BY EAP_DRAFT_DATE DESC, EAP_NO DESC) A, (SELECT EMP_NO, DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE))B
		WHERE A.EMP_NO = B.EMP_NO
	</select>
	
	<!-- 결재 수신 문서 개수 -->
	<select id="reDocCnt" parameterType="string" resultType="_int">
		SELECT COUNT(*) 
		  FROM (SELECT A.*, B.DEPT_NAME FROM (
			SELECT TO_CHAR(EAP_DRAFT_DATE,'YYYY/MM/DD') EAP_DRAFT_DATE,
			      EAP_FILE_PATH, EMP_NAME, DF_TITLE, EAP_TITLE, EAP_CONTENT, EMP_NO, EAP_NO,
			      DECODE(EAP_STA_CODE, 'C', '결재회수', 'S', '결재대기', 'O', '진행중', 'F', '결재완료', 'R', '반려') EAP_STA_CODE, DF_NO
			  FROM ELECTRONIC_APPROVAL 
			  JOIN DOCUMENT_FORM USING(DF_NO)
			  JOIN EMPLOYEE USING(EMP_NO)
			  WHERE (EAP_STA_CODE = 'S' OR EAP_STA_CODE = 'O') AND EAP_TITLE IS NOT NULL AND 
			        (EAP_STEP = 1 AND EAP_FIRST_AP = (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{emp_no}) 
			                    OR (EAP_STEP = 2 AND EAP_MID_AP = (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{emp_no})) 
			                    OR (EAP_STEP = 3 AND EAP_FINAL_AP = (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{emp_no})))
			ORDER BY EAP_DRAFT_DATE DESC, EAP_NO DESC) A, (SELECT EMP_NO, DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE))B
		WHERE A.EMP_NO = B.EMP_NO)
	</select>
	
	<!-- 결재 승인(결재자가 1명일 때) -->
	<update id="updateOneApp" parameterType="Eap">
		UPDATE ELECTRONIC_APPROVAL SET EAP_STEP = #{eap_step}, EAP_STA_CODE = #{eap_sta_code}, EAP_RES_CODE = #{eap_res_code}, EAP_RESULT_DATE = SYSTIMESTAMP WHERE DF_NO = #{df_no}
	</update>
	
	<!-- 결재 승인(결재자가 2명 이상일 때) -->
	<update id="updateEapApp" parameterType="Eap">
		UPDATE ELECTRONIC_APPROVAL SET EAP_STEP = #{eap_step}, EAP_STA_CODE = #{eap_sta_code}, EAP_RES_CODE = #{eap_res_code}, EAP_RESULT_DATE = SYSTIMESTAMP WHERE DF_NO = #{df_no}
	</update>
	
	<!-- 결재 반려(결재자가 1명일 때) -->
	<update id="updateOneRej" parameterType="Eap">
		UPDATE ELECTRONIC_APPROVAL SET EAP_STEP = #{eap_step}, EAP_STA_CODE = #{eap_sta_code}, EAP_RES_CODE = #{eap_res_code}, EAP_REJECT = #{eap_reject}, EAP_RESULT_DATE = SYSTIMESTAMP WHERE DF_NO = #{df_no}
	</update>
	
	<!-- 결재 반려(결재자가 2명 이상일 때) -->
	<update id="updateEapRej" parameterType="Eap">
		UPDATE ELECTRONIC_APPROVAL SET EAP_STEP = #{eap_step}, EAP_STA_CODE = 'R', EAP_RES_CODE = 'R', EAP_REJECT = #{eap_reject}, EAP_RESULT_DATE = SYSTIMESTAMP WHERE DF_NO = #{df_no}
	</update>
	
	<!-- 기안 문서함 -->
	<select id="selectInsertDoc" parameterType="string" resultType="Eap">
		SELECT DF_NO, TO_CHAR(EAP_DRAFT_DATE, 'YYYY/MM/DD') EAP_DRAFT_DATE, 
			(SELECT DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE) WHERE EMP_NO = #{emp_no}) DEPT_NAME, EAP_FILE_PATH,
		    EMP_NAME, DF_TITLE, EAP_TITLE, EAP_CONTENT, EMP_NO, EAP_NO, 
		    DECODE(EAP_STA_CODE, 'C', '결재회수', 'S', '결재대기', 'O', '진행중', 'F', '결재완료', 'R', '반려') EAP_STA_CODE
		FROM ELECTRONIC_APPROVAL
		JOIN DOCUMENT_FORM USING(DF_NO)
		JOIN EMPLOYEE USING(EMP_NO)
		WHERE EAP_STA_CODE IN ('F', 'R') AND EMP_NO = #{emp_no} AND EAP_TITLE IS NOT NULL
		ORDER BY EAP_DRAFT_DATE DESC, EAP_NO DESC
	</select>
	
	<!-- 결재 문서함 -->
	<select id="selectResultDoc" parameterType="string" resultType="Eap">
		SELECT A.*,B.DEPT_NAME 
		FROM (SELECT TO_CHAR(EAP_DRAFT_DATE,'YYYY/MM/DD') EAP_DRAFT_DATE,
			      EAP_FILE_PATH, EMP_NAME, DF_TITLE, EAP_TITLE, EAP_CONTENT, EMP_NO, EAP_NO,
			      DECODE(EAP_STA_CODE, 'C', '결재회수', 'S', '결재대기', 'O', '진행중', 'F', '결재완료', 'R', '반려') EAP_STA_CODE, DF_NO
			  FROM ELECTRONIC_APPROVAL 
			  JOIN DOCUMENT_FORM USING(DF_NO)
			  JOIN EMPLOYEE USING(EMP_NO)
			  WHERE (EAP_STA_CODE IN ('F', 'R')) AND EAP_TITLE IS NOT NULL AND 
			        (EAP_STEP = 1 AND EAP_FIRST_AP = (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{emp_no}) 
			                    OR (EAP_STEP > 1 AND EAP_MID_AP = (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{emp_no})) 
			                    OR (EAP_STEP > 2 AND EAP_FINAL_AP = (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{emp_no})))
				ORDER BY EAP_DRAFT_DATE DESC, EAP_NO DESC) A, 
			 (SELECT EMP_NO, DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE)) B
		WHERE A.EMP_NO = B.EMP_NO
	</select>
	
	<!-- 참조 문서함 -->
	<select id="selectReferenceDoc" parameterType="string" resultType="Eap">
		SELECT A.*, B.DEPT_NAME 
		FROM(SELECT TO_CHAR(EAP_DRAFT_DATE,'YYYY/MM/DD') EAP_DRAFT_DATE, EAP_RESULT_DATE,
		          EAP_FILE_PATH, EMP_NAME, DF_TITLE, EAP_TITLE, EAP_CONTENT, EMP_NO, EAP_NO,
		          DECODE(EAP_STA_CODE, 'C', '결재회수', 'S', '결재대기', 'O', '진행중', 'F', '결재완료', 'R', '반려') EAP_STA_CODE, DF_NO
		        FROM ELECTRONIC_APPROVAL 
		        JOIN DOCUMENT_FORM USING(DF_NO)
		        JOIN EMPLOYEE USING(EMP_NO)
		        WHERE (EAP_FIRST_DEPT IS NOT NULL OR EAP_FINAL_DEPT IS NOT NULL) 
		            AND (EAP_FIRST_DEPT = (SELECT DEPT_NAME FROM EMPLOYEE JOIN DEPT USING(DEPT_CODE) WHERE EMP_NO = #{emp_no}) 
		            OR EAP_FINAL_DEPT = (SELECT DEPT_NAME FROM EMPLOYEE JOIN DEPT USING(DEPT_CODE) WHERE EMP_NO = #{emp_no}))
		            AND EAP_STA_CODE = 'F'
		        ORDER BY EAP_DRAFT_DATE DESC) A, 
	        (SELECT EMP_NO, DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE)) B
		WHERE A.EMP_NO = B.EMP_NO
	</select>
	
</mapper>
