<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Eap">
	<!-- 문서양식-휴가신청서일 때 -->
	<insert id="insertHoDoc">
		INSERT INTO DOCUMENT_FORM VALUES(
	        (SELECT EXTRACT(YEAR FROM SYSDATE) || '-' || 
	        (SELECT DISTINCT(DF_CODE) FROM DOCUMENT_FORM WHERE DF_TITLE = '휴가신청서') || '-' || 
	        (SELECT LPAD(NVL(MAX(SUBSTR(DF_NO, 8)),0) + 1, 3, '0') FROM DOCUMENT_FORM) DF_NO
        FROM DUAL), '휴가신청서', 'A')
	</insert>
	
	<!-- 문서양식-지출결의서일 때 -->
	<insert id="insertSpDoc">
		INSERT INTO DOCUMENT_FORM VALUES(
	        (SELECT EXTRACT(YEAR FROM SYSDATE) || '-' || 
	        (SELECT DISTINCT(DF_CODE) FROM DOCUMENT_FORM WHERE DF_TITLE = '지출결의서') || '-' || 
	        (SELECT LPAD(NVL(MAX(SUBSTR(DF_NO, 8)),0) + 1, 3, '0') FROM DOCUMENT_FORM) DF_NO
    	FROM DUAL), '지출결의서', 'B')
	</insert>
	
	<!-- 문서양식 번호 조회 -->
	<select id="selectDoc" resultType="Eap" parameterType="string">
		SELECT MAX(DF_NO) DF_NO FROM DOCUMENT_FORM WHERE DF_CODE = #{df_code}
	</select>
	
	<!-- 결재선 리스트, 참조처 리스트 DB 저장(휴가신청서) -->
	<insert id="insertapp" parameterType="Eap">
		INSERT INTO ELECTRONIC_APPROVAL(EAP_NO, EAP_STA_CODE, EAP_FIRST_AP, EAP_MID_AP, EAP_FINAL_AP, EAP_FIRST_DEPT, EAP_FINAL_DEPT, EMP_NO, DF_NO) 
		VALUES (EAP_SEQ.NEXTVAL, DEFAULT, #{eap_first_ap}, #{eap_mid_ap}, #{eap_final_ap}, #{eap_first_dept}, #{eap_final_dept}, #{emp_no}, (SELECT MAX(DF_NO) DF_NO FROM DOCUMENT_FORM WHERE DF_CODE = 'A'))
	</insert>
	
	<!-- 전자결재 테이블 update(휴가신청서 작성 시) -->
	<update id="updateeap" parameterType="Eap">
		UPDATE ELECTRONIC_APPROVAL SET EAP_STEP = 1, EAP_TITLE = #{eap_title}, EAP_CONTENT = #{eap_content}, EAP_DRAFT_DATE = SYSTIMESTAMP WHERE DF_NO = #{df_no}  
	</update>
	
	<!-- 휴가 테이블 insert -->
	<insert id="insertatt" parameterType="Att">
		INSERT INTO HOLIDAY VALUES(HOLIDAY_SEQ.NEXTVAL, #{ho_code}, #{ho_start}, #{ho_end}, NULL, #{ho_use_count}, #{emp_no}, #{df_no}) 
	</insert>
	
	<!-- 전자결재 테이블 update(지출결의서 작성 시) -->
	<update id="updateEapSp" parameterType="Eap">
		UPDATE ELECTRONIC_APPROVAL SET EAP_STEP = 1, EAP_TITLE = #{eap_title}, EAP_CONTENT = #{eap_content}, EAP_DRAFT_DATE = SYSTIMESTAMP WHERE DF_NO = #{df_no}  
	</update>
	
	<!-- 지출테이블 insert -->
	<insert id="insertSp" parameterType="Sp">
		INSERT INTO SPENDING VALUES(SPENDING_SEQ.NEXTVAL, #{sp_date}, #{sp_detail}, #{sp_count}, #{sp_amount}, #{sp_pay_code}, #{df_no})
	</insert>
	
	<!-- 결재선 리스트, 참조처 리스트 DB 저장(지출결의서) -->
	<insert id="insertappsp" parameterType="Eap">
		INSERT INTO ELECTRONIC_APPROVAL(EAP_NO, EAP_STA_CODE, EAP_FIRST_AP, EAP_MID_AP, EAP_FINAL_AP, EAP_FIRST_DEPT, EAP_FINAL_DEPT, EMP_NO, DF_NO) 
		VALUES (EAP_SEQ.NEXTVAL, DEFAULT, #{eap_first_ap}, #{eap_mid_ap}, #{eap_final_ap}, #{eap_first_dept}, #{eap_final_dept}, #{emp_no}, (SELECT MAX(DF_NO) DF_NO FROM DOCUMENT_FORM WHERE DF_CODE = 'B'))
	</insert>
	
	<!-- 결재대기문서 -->
	<select id="selectBeforeDoc" parameterType="string" resultType="Eap">
		SELECT TO_CHAR(EAP_DRAFT_DATE,'YYYY/MM/DD') EAP_DRAFT_DATE,
	      (SELECT DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE) WHERE EMP_NO = #{emp_no}) DEPT_NAME, 
	      EMP_NAME, DF_TITLE, EAP_TITLE, EAP_CONTENT, EMP_NO, DF_NO, EAP_NO,
	      DECODE(EAP_STA_CODE, 'C', '결재회수', 'S', '결재대기', 'O', '진행중', 'F', '결재완료', 'R', '반려') EAP_STA_CODE 
		FROM ELECTRONIC_APPROVAL
		JOIN DOCUMENT_FORM USING(DF_NO)
		JOIN EMPLOYEE USING(EMP_NO)
		WHERE EAP_STA_CODE = 'S' AND EMP_NO = #{emp_no}
		ORDER BY EAP_DRAFT_DATE DESC, EAP_NO DESC
	</select>
	
	<!-- 양식 처음 로드 시 띄울 정보 -->
	<select id="empInfo" parameterType="string" resultType="Eap">
		SELECT EMP_NO, EMP_NAME, 
			(SELECT JOB_TITLE FROM JOB JOIN EMPLOYEE USING(JOB_CODE) WHERE EMP_NO = #{emp_no}) JOB_TITLE,
			(SELECT DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE) WHERE EMP_NO = #{emp_no}) DEPT_NAME, 
			(SELECT TO_CHAR(SYSDATE,'YYYY/MM/DD') FROM DUAL) EAP_DRAFT_DATE 
		FROM EMPLOYEE WHERE EMP_NO = #{emp_no}
	</select>
	
</mapper>
