<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Employee">

	<!-- 아이디찾기 -->
	<select id="findid" resultType="Emp">
		select * from employee where emp_no=#{emp_no} and emp_name=#{emp_name}
	</select>
</mapper>
