<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mail">

<insert id="insertMail">
	insert into send_mail values (SEND_MAIL_SEQ.nextval, #{send_title}, #{send_content}, systimestamp, #{send_receiver}, #{send_sender})
</insert>
</mapper>
