<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mail">

<insert id="insertSendMail">
	insert into send_mail values (SEND_MAIL_SEQ.nextval, #{send_title}, #{send_content}, systimestamp, #{send_receiver}, #{send_sender}, #{send_filesize})
</insert>

<insert id="insertRcvMail">
	insert into RECEIVE_MAIL values (RECEIVE_MAIL_SEQ.nextval, #{rec_title}, #{rec_content}, systimestamp, #{rec_receiver}, #{rec_sender}, #{rec_filesize})
</insert>

<select id="readRcvMail" resultType="Mailrcv">
	select rec_title, rec_receiver, rec_sender, rec_content from receive_mail where rec_no = #{mailNo}
</select>

<select id="readSndMail" resultType="Mailsend">
	select send_title, send_receiver, send_sender, send_content from send_mail where send_no = #{mailNo}
</select>

<delete id="deleteSndMail">
	delete from send_mail where send_no=#{send_no}
</delete>

<delete id="deleteRcvMail">
	delete from receive_mail where rec_no=#{rec_no}
</delete>

<select id="selectRcvMail" resultType="MailRcv">
	select rec_no, rec_title, to_char(rec_date, 'yyyy-mm-dd') rec_date, rec_sender, rec_receiver, rec_filesize from receive_mail where rec_receiver=#{email} order by rec_no desc
</select>

<select id="selectRcvTotalCnt" resultType="_int">
	select count(*) from RECEIVE_MAIL
</select>

<select id="selectSndMail" resultType="MailSend">
	select send_no, send_title, to_char(send_date, 'yyyy-mm-dd') send_date, send_sender, send_receiver, send_filesize from send_mail where send_sender=#{email} order by send_no desc
</select>

<select id="selectSndTotalCnt" resultType="_int">
	select count(*) from SEND_MAIL
</select>

</mapper>
