<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Organ">

	<!-- 조직도에 넣을 이름, 부서명, 직위명 조회 -->
	<select id="selectOrganList" resultType="Organ">
		SELECT * FROM EMPLOYEE
		JOIN DEPT USING (DEPT_CODE)
		JOIN JOB USING (JOB_CODE)
		ORDER BY JOB_CODE
	</select>
	
	<!-- 조직도에 넣을 부서 코드, 부서명 조회 -->
	<select id="selectDeptList" resultType="Organ">
		SELECT DEPT_CODE, DEPT_NAME FROM DEPT
	</select>
	
	<!-- 조직도에 넣을 직위명 조회 -->
	<select id="selectJobList" resultType="Organ">
		SELECT JOB_TITLE FROM JOB
	</select>
	
	<!-- 조직도에서 상세 직원 정보 조회 -->
	<select id="selectDetailInfo" resultType="Organ" parameterType="string">
		SELECT EMP_NAME, EMP_PHONE, EMP_EMAIL, EMP_DESKPHONE, EMP_FILE_PATH
		    , (SELECT DEPT_NAME FROM DEPT JOIN EMPLOYEE USING (DEPT_CODE) WHERE EMP_NO = #{emp_no}) DEPT_NAME
		    , (SELECT JOB_TITLE FROM JOB JOIN EMPLOYEE USING (JOB_CODE) WHERE EMP_NO = #{emp_no}) JOB_TITLE
		FROM EMPLOYEE 
		WHERE EMP_NO = #{emp_no}
	</select>
	
	<!-- 결재선 리스트에 있는 사원 번호를 가져와 결재선jsp에 이름, 부서, 직책 조회 -->
	<select id="selectInfo" resultType="Organ" parameterType="string">
		SELECT EMP_NAME
		, (SELECT DEPT_NAME FROM DEPT JOIN EMPLOYEE USING (DEPT_CODE) WHERE EMP_NO = #{emp_no}) DEPT_NAME
		, (SELECT JOB_TITLE FROM JOB JOIN EMPLOYEE USING (JOB_CODE) WHERE EMP_NO = #{emp_no}) JOB_TITLE
		FROM EMPLOYEE
		WHERE EMP_NO = #{emp_no}
	</select>

	<!-- 휴가 신청서 문서 번호 조회 -->
	<select id="selectDoc" resultType="Organ" parameterType="string">
		SELECT MAX(DF_NO) DF_NO FROM DOCUMENT_FORM WHERE DF_CODE = #{df_code}
	</select>
	
	<!-- 결재선 리스트 띄울 때 같이 띄울 정보 -->
	<select id="empInfo" resultType="Organ" parameterType="string">
		SELECT EMP_NO, EMP_NAME, EMP_PHONE,
			(SELECT JOB_TITLE FROM JOB JOIN EMPLOYEE USING(JOB_CODE) WHERE EMP_NO = #{emp_no}) JOB_TITLE,
		    (SELECT DEPT_NAME FROM DEPT JOIN EMPLOYEE USING(DEPT_CODE) WHERE EMP_NO = #{emp_no}) DEPT_NAME, 
		    (SELECT TO_CHAR(EAP_DRAFT_DATE,'YYYY/MM/DD') FROM ELECTRONIC_APPROVAL WHERE EAP_NO = (SELECT MAX(EAP_NO) FROM ELECTRONIC_APPROVAL)) EAP_DRAFT_DATE 
		FROM EMPLOYEE 
		WHERE EMP_NO = #{emp_no}
	</select>
	
	<!-- 남은 휴가일수 확인 -->
	<select id="readHoCnt" parameterType="string" resultType="double">
		SELECT (C.EMP_HO_CR_CNT - NVL(AA.HO_USE_COUNT,0)) AS 잔여일수 
		  FROM EMPLOYEE C 
		LEFT OUTER JOIN (
		    SELECT A.EMP_NO, SUM(HO_USE_COUNT) AS HO_USE_COUNT 
		      FROM ELECTRONIC_APPROVAL A, HOLIDAY B 
		     WHERE A.EAP_STA_CODE = 'F' 
		       AND B.DF_NO = A.DF_NO 
		  GROUP BY A.EMP_NO) AA 
		  ON C.EMP_NO = AA.EMP_NO 
		WHERE C.EMP_NO = #{emp_no}
	</select>

</mapper>
