<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Poll">
	<!--투표 등록  -->
	<insert id="insertPoll" parameterType="Poll">
		insert into poll
		values((select nvl(max(poll_no),0)+1 from poll),#{poll_title},#{poll_start},#{poll_end},#{poll_content},default,#{emp_no},#{poll_writer})
	</insert>
	
	<!--옵션 등록  -->
	<insert id="insertOption" parameterType="Poll">
		insert into poll_option
		values((select nvl(max(to_number(option_no)),0)+1 from poll_option),#{option_val},(select poll_no from(select * from poll order by poll_date desc)where rownum=1))
	</insert>
	
	<!--투표 조회  -->
	<select id="select" resultType="Poll">
		select poll_no, poll_title, poll_content, poll_writer,
		substr(replace(poll_start,'-','/'),1,10)||'~'||substr(replace(poll_end,'-','/'),1,10) poll_time,
		to_char(poll_date,'YYYY/MM/DD HH24:MI') poll_date 
		from poll where poll_end <![CDATA[ >= ]]> to_char(sysdate,'yyyy-mm-dd')
		<choose>
			<when test="option != null and option.equals('poll_title')">
			and poll_title like '%' || #{text} || '%'
			</when>
			<when test="option != null and option.equals('poll_writer')">
			and poll_writer like '%' || #{text} || '%'
			</when>
		</choose>
		order by poll_date desc
	</select>
	
	<!--마감된 투표 조회  -->
	<select id="end" resultType="Poll">
		select poll_no, poll_title, poll_content, poll_writer,
		substr(replace(poll_start,'-','/'),1,10)||'~'||substr(replace(poll_end,'-','/'),1,10) poll_time,
		to_char(poll_Date,'YYYY/MM/DD') poll_date 
		from poll where poll_end <![CDATA[ < ]]> to_char(sysdate,'yyyy-mm-dd')
		<choose>
			<when test="option != null and option.equals('poll_title')">
			and poll_title like '%' || #{text} || '%'
			</when>
			<when test="option != null and option.equals('poll_writer')">
			and poll_writer like '%' || #{text} || '%'
			</when>
		</choose>
		order by poll_date desc
	</select>
	
	<!--투표 상세조회  -->
	<select id="readPoll" resultType="Poll">
		select poll_no, poll_title, poll_content, poll_writer,
		substr(replace(poll_start,'-','/'),1,10)||'~'||substr(replace(poll_end,'-','/'),1,10) poll_time,
		to_char(poll_Date,'YYYY/MM/DD') poll_date from poll where poll_no=#{poll_no}
	</select>
	
	<!--옵션 상세조회  -->
	<select id="readOption" resultType="Poll">
		select option_val from poll_option
		where poll_no=#{poll_no} order by option_no
	</select>
	
	<!--결과 상세조회  -->
	<select id="readResult" resultType="Poll">
		select * from poll_option
		join (select result_val, trunc(((count(*)/(select count(*) from employee))*100),0) result_count 
		from poll_result group by result_val) on (poll_option.option_val = result_val)
		where poll_no=#{poll_no} order by option_no
	</select>
	
	<!--투표 여부 체크  -->
	<select id="voteCk" resultType="Poll">
		select * from poll_result where poll_no=#{poll_no} and result_voter=#{result_voter}
	</select>
	
	<!--투표하기  -->
	<insert id="vote" parameterType="Poll">
		insert into poll_result
		values((select nvl(max(result_no),0)+1 from poll_result),#{result_val},#{result_voter},#{poll_no})
	</insert>
</mapper>
